.blue {
  background-color: #042462;
}
.gray {
  background-color: rgb(231, 231, 231);
  min-height: 1000px;
  margin-top: 0px;
}
h1 {
  color: #CF1141;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: rgb(231, 231, 231);
  margin-bottom: 0px;
}
li {
  list-style-type: none
}
hr {
  border-top: 1px solid #CF1141;
}
