<h2>Link Board Homepage</h2>

<%= render "layouts/flash" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% @posts.each do |p| %>

      <li><%= link_to p.title, p.link %></li>

    <% end %>
  </div>
</div>
